In [42]:
library(rstan)
library(loo)

In [43]:
models <- c('m1','m2','m3','m4','m5','m6','m7','m8','m9','m10','m11','m12','m13','m14')

In [44]:
sf=zn <- list()
for(i in 1:length(models)){
    sf[[models[i]]] <- as.matrix(read.csv(paste('log_lik_',models[i],'_seaflow','_summary.csv',sep='')))
    zn[[models[i]]] <- as.matrix(read.csv(paste('log_lik_',models[i],'_zinser','_summary.csv',sep='')))
}
#sf_m5 <- as.matrix(read.csv('log_lik_m5_log_lik_seaflow_summary.csv'))
#zn_m5 <- as.matrix(read.csv('log_lik_m5_log_lik_zinser_summary.csv'))
#sf_m7 <- as.matrix(read.csv('log_lik_m7_log_lik_seaflow_summary.csv'))
#zn_m7 <- as.matrix(read.csv('log_lik_m7_log_lik_zinser_summary.csv'))

In [47]:
sfloo=znloo <- list()
for(i in 1:length(models)){
    sfloo[[models[i]]] <- loo(sf[[models[i]]],r_eff=NA)
    znloo[[models[i]]] <- loo(zn[[models[i]]],r_eff=NA)
}

In [37]:
sfwaic=znwaic <- list()
for(i in 1:length(models)){
    sfwaic[[models[i]]] <- loo(sf[[models[i]]],r_eff=NA)
    znwaic[[models[i]]] <- loo(zn[[models[i]]],r_eff=NA)
}

In [46]:
dfloo <- data.frame(model=character(),seaflow=numeric(),zinser=numeric())
for(i in 1:length(models)){
    dfloo <- rbind(dfloo,data.frame(model=models[i],seaflow=sfloo[[models[i]]]$estimate[3],zinser=znloo[[models[i]]]$estimate[3]))
}
dfloo[order(dfloo$seaflow),]
dfloo[order(dfloo$zinser),]

   model seaflow  zinser
14 m14   2886.622 3374.935
9  m9    2891.138 3382.805
8  m8    2911.583 3261.832
10 m10   2913.237 3444.957
13 m13   2917.413 3269.440
4  m4    3046.345 3457.994
12 m12   3046.706 3428.012
7  m7    3046.756 3435.076
5  m5    3063.000 3369.832
11 m11   3066.754 3272.436
3  m3    3071.778 3521.181
6  m6    3076.037 3251.601
2  m2    3076.397 3537.361
1  m1    3086.984 3530.712

   model seaflow  zinser
6  m6    3076.037 3251.601
8  m8    2911.583 3261.832
13 m13   2917.413 3269.440
11 m11   3066.754 3272.436
5  m5    3063.000 3369.832
14 m14   2886.622 3374.935
9  m9    2891.138 3382.805
12 m12   3046.706 3428.012
7  m7    3046.756 3435.076
10 m10   2913.237 3444.957
4  m4    3046.345 3457.994
3  m3    3071.778 3521.181
1  m1    3086.984 3530.712
2  m2    3076.397 3537.361

In [41]:
#dfwaic <- data.frame(model=character(),seaflow=numeric(),zinser=numeric())
#for(i in 1:length(models)){
#    dfwaic <- rbind(dfwaic,data.frame(model=models[i],seaflow=sfwaic[[models[i]]]$estimate[3],zinser=znwaic[[models[i]]]$estimate[3]))
#}
#dfwaic[order(dfwaic$seaflow),]
#dfwaic[order(dfwaic$zinser),]